.grid-container{
   display: grid;
   grid-template-columns: 400px 400px 400px;
   padding: 10px;
   background-color: blue;
   column-gap: 50px;
   row-gap: 100px;
}

.grid-item{
    background-color: firebrick;
    border: 1px;
    border-color: red;
    border-style: solid;
    color: black;
    padding: 20px;
    font-size: 30 px;
    text-align: center;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item8 {
    grid-area: 2/2/4/4;
}