@import url(./root.css);
/* @font-face {
    font-family:'MOMENTZ';
    src: url('MOMENTZ.TTF') format('truetype');
  } */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Matemasie&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    background: url(../img/bg-paw.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fda2a2;
    background-blend-mode: hard-light;
}
.header{
    max-height: 100px;
    background: linear-gradient(to right, #ffdab9 , #f08080,#f8ad9d);
    padding-top: 0.5%;
    padding-bottom: 2%;
    padding-right: 10%;
    box-shadow: 0px 5px 5px rgba(180, 124, 124, 0.6);
    
}

#header-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
      
}


.logo-img{
    position: relative;
    width: 130px;
    padding-bottom: 1%;
    cursor: pointer;

    
}

#logo-name{
    width: 500px;

}

#navbar{
    display: block;
    position: relative;
    font-family: "Chewy", serif;
    color: #ffffff;
    font-size: 45px;
    display: flex;
    gap: 25%;

}


@media (max-width: 1300px){
 
    
    #logo-img{
        position: relative;
        width: 125px;
        padding-bottom: 1%;
    
        
    }
    
    #logo-name{
        width: 400px;
    
    }
    
    #navbar{
        position: relative;
        font-size: 35px;
        display: flex;
        gap: 25%;
    
    }

}

@media (max-width: 1070px) {
    #logo-img{
        position: relative;
        width: 100px;
        padding-bottom: 1%;
    
        
    }
    
    #logo-name{
        width: 300px;
    
    }
    
    #navbar{
        position: relative;
        font-size: 30px;
        display: flex;
        gap: 25%;
    
    }
}

@media (max-width: 880px) {
    #logo-img{
        position: relative;
        width: 70px;
        padding-bottom: 1%;
    
        
    }
    
    #logo-name{
        width: 250px;
    
    }
    
    #navbar{
        position: relative;
        font-size: 30px;
        display: flex;
        gap: 15%;
    
    }
}
@media (max-width: 680px) {
    #logo-img{
        position: relative;
        width: 60px;
        padding-bottom: 3%;
    
        
    }
    
    #logo-name{
        width: 200px;
    
    }
    
    #navbar{
        position: relative;
        font-size: 25px;
        display: flex;
        gap: 15%;
    
    }
    .header{
        max-height: 100px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 10%;
        
    }
}
@media (max-width: 554px) {
    #logo-img{
        position: relative;
        width: 55px;
        padding-bottom: 2%;
    
        
    }
    
    #logo-name{
        width: 150px;
    
    }
    
    #navbar{
        position: relative;
        font-size: 25px;
        display: flex;
        gap: 15%;
    
    }
    .header{
        max-height: 100px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 15%;
        
    }
}
@media (max-width: 489px) {
    #logo-img{
        position: relative;
        width: 60px;
        padding-bottom: 2%;
    
        
    }
    
    #logo-name{
        display: none;
    
    }
    
    #navbar{
        position: relative;
        font-size: 30px;
        display: flex;
        gap: 15%;
    
    }
    .header{
        background: linear-gradient(to right, #f08080,#f8ad9d);
        width: 100%;
        max-height: 100px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 10%;
        
    }
}

@media (max-width: 399px) {
    #logo-img{
        position: relative;
        width: 60px;
        padding-bottom: 2%;
    
        
    }
    
    #logo-name{
        display: none;
    
    }
    
    #navbar{
        position: relative;
        font-size: 25px;
        display: flex;
        gap: 15%;
    
    }
    .header{
        background: linear-gradient(to right, #f08080,#f8ad9d);
        width: 100%;
        max-height: 100px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 15%;
        
    }
}