@import url(../style/base.css);

.carrossel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    
}

.container_carrossel {
    display: flex;
    width: 400%;
    transition: transform 2s ease-in-out;
}

.item_carrossel {
    display: flex;
    width: 100%;
    height: 90vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.bg_carrossel {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, #f08080, transparent); 
    background-blend-mode: overlay;
}

.item_carrossel:nth-child(1) {
    background-image: url('../img/banner-carrossel.jpg');
}

.item_carrossel:nth-child(2) {
    background-image: url('../img/banner-carrossel-2.jpg');
}

.item_carrossel:nth-child(3) {
    background-image: url('../img/banner-carrossel-3.jpg');
}

.item_carrossel:nth-child(4) {
    background-image: url('../img/banner-carrossel-4.jpg');
}

.text_carrossel {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 25%;
    height: auto;
    transform: translateY(-50%);
    padding: 30px 60px;
    text-align: left;
}

.text_carrossel h1 {
    font-size: 70px;
    margin-bottom: 15px;
    user-select: none;
    margin-top: 20%;
    font-family: "Chewy", serif;
    color: rgb(255, 255, 255);
}

.text_carrossel h2 {
    font-size: 15px;
    line-height: 1.5;
    user-select: none;
    font-family:  Tahoma, Verdana, sans-serif;
    color: white;
}

.carrossel>button {
    position: absolute;
    top: 50%;
    color: white;
    border: none;
    padding: 30px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    transition: all 0.5s ease;
    transform: translateY(-50%);
}

button:hover {
    background-color:#fbc4ab;
    transform: translateY(-50%) scale(1.2);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.planos{
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 5%;
    justify-content:center ;

}

#plano{
    display: grid;
    grid-template-rows: 10% 32% 20% 10%;
    width: 20%;
    background-color: #f08080;
    font-family: "Chewy", serif;
    color: white;
    border-radius: 5%;
    box-shadow: 0px 5px 3px rgba(168, 13, 13, 0.4);
    
}

.planos>div>h2{
    text-align: center;
    font-size: 55px;
}
.planos>div>h3{
    font-size: 40px;
    position: relative;
    text-align: center;
    top: 10%;
}

.planos>div>a{
    font-size: 30px;
    position: relative;
    text-align: center;
}

.assinar{
    display: flex;
    justify-self: center;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
    font-size: 35px;
    border: none;
    background-color: #fbc4ab;
    transition: all 0.5s ease;
    transform: translateY(-10%);
    width: 40%;
    height: 100%;
    font-family: "Chewy", serif;
    color: white;
}
 #plano>button:hover{
        background-color:#ec344c;
        transform: translateY(2%) scale(0.9);
    
 }

 #plano2{
    display: grid;
    grid-template-rows: 10% 32% 20% 10%;
    width: 20%;
    background-color: #f0b280;
    font-family: "Chewy", serif;
    color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0 5px 3px rgba(168, 132, 13, 0.4);
    
    
    
    
}

#plano3{
    display: grid;
    grid-template-rows: 10% 32% 20% 10%;
    width: 20%;
    background-color: #ff96a4;
    font-family: "Chewy", serif;
    color: white;
    border-radius: 5%;
    box-shadow: 0 5px 3px rgba(168, 13, 85, 0.4);
    
    
    
}

#plano2>button:hover{
    background-color:#f89b6f;
    transform: translateY(2%) scale(0.9);

}

#plano3>button:hover{
    background-color:#f36c94;
    transform: translateY(2%) scale(0.9);

}

#descricao-patinhas{
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 20%;
  
}


#descricao-doce{
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 20%;
    
    
    
}

#descricao-pessego{
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 20%;
    
    
    
}

.container-especialidade {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40% 40% 40%;
    gap: 1%;
    row-gap: 5%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: "Chewy", serif;

}

.especialidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f08080;
    border-radius: 20px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    
}


.especialidade h2 {
    font-size: 35px;
    color: #ffffff;
}

.especialidade p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #871b1b;
    padding-left: 2%;
    padding-right: 2%;
}

.especialidade-titulo{
    font-family: "Chewy", serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #ec344c;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);

}
.especialidade-titulo>h1{
    font-size: 60px;
    color: #ffc5aa;
}

.especialidade-titulo>p{
    text-align: justify;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;

}

.container-footer{
    margin-top: 15%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #ffdab9 , #f08080,#f8ad9d);
    
}
.container-footer>img{
    padding-top: 5%;
    padding-right: 40%;
    width: 20%;
    
}
#info{
    color: white;
    display: flex;
    row-gap: 5%;
    padding-top: 5%;
    flex-direction: column;
    font-size: 50px;
    font-family: "Chewy", serif;
}

.plano-ref{
    cursor: pointer;
}




@media (max-width: 1600px) {
    #plano{
        display: grid;
        grid-template-rows: 10% 35% 15% 10%;
        width: 25%;

    }
    #plano2{
        display: grid;
        grid-template-rows: 10% 35% 15% 10%;
        width: 25%;

    }
    #plano3{
        display: grid;
        grid-template-rows: 10% 35% 15% 10%;
        width: 25%;

    }

    .text_carrossel h2 {
        font-size: 18px;
        line-height: 1.5;
        
    }
    

}
